@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* font-family: "Roboto", sans-serif; */
  overflow-x: hidden;

}

* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
